<div class="page-header">
    <div class="container">
        <h1>Kleuren</h1>
    </div>
</div>
<div class="container">
    <div class="row end-xs mt-2">
        <div class="col-xs-12">
            <input type="text" class="search-input" placeholder="Zoek kleuren"
            #input
            (keyup)="filterColors($event)"
            >
        </div>
    </div>
</div>
<div class="container">
    <div class="div mat-elevation-z8">
        <table mat-table matSort [dataSource]="dataSource">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Naam </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="mainColor">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Hoofdkleur </th>
                <td mat-cell *matCellDef="let element"> {{element.mainColor}} </td>
            </ng-container>
            <ng-container matColumnDef="pictureUrl">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Foto </th>
                <td mat-cell *matCellDef="let element"> {{element.pictureUrl}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
        </mat-paginator>
    </div>
</div>