<div class="page-header">
    <div class="container">
        <h1>{{header}}</h1>
    </div>
</div>
<div class="container">
    <div class="row end-xs top-row">
        <div class="col-xs-12">
            <a routerLink="/admin/materials" color="primary" mat-raised-button>
                <mat-icon>chevron_left</mat-icon>
                Ga terug
            </a>
        </div>
    </div>
    <div class="row" *ngIf="material">
        <div class="col-xs-8">
            <form #materialDetailsForm="ngForm">
                <div class="row">
                    <div class="col-xs-8">
                        <mat-form-field appearance="outline">
                            <mat-label>Naam</mat-label>
                            <input type="text" matInput [(ngModel)]="material.name" name="name" #name="ngModel" required>
                            <mat-error>Naam is een verplicht veld</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-xs-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Dikte</mat-label>
                            <input type="text" matInput [(ngModel)]="material.thickness" name="thickness" #thickness="ngModel" required>
                            <mat-error>Dikte is een verplicht veld</mat-error>
                        </mat-form-field>
                    </div>  
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Kleur</mat-label>
                            <mat-select [(ngModel)]="material.colorId" name="colorId" #colorId="ngModel" required>
                                <mat-option *ngFor="let materialColor of materialColors" [value]="materialColor.id">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            {{materialColor.name}}
                                        </div>
                                        <div class="col-xs-6">
                                            <img src="{{materialColor.pictureUrl}}" alt="" style="width: 40px;">
                                        </div>
                                    </div>
                                </mat-option>
                            </mat-select>
                            <mat-error>Kleur is een verplicht veld</mat-error>
                        </mat-form-field>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Materiaal Type</mat-label>
                            <mat-select [(ngModel)]="material.materialTypeId" name="materialTypeId" #materialTypeId="ngModel" required>
                                <mat-option *ngFor="let materialType of materialTypes" [value]="materialType.id">
                                    {{materialType.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error>Materiaal Type is een verplicht veld</mat-error>
                        </mat-form-field>
                    </div> 
                    <div class="col-xs-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Prijs per meter</mat-label>
                            <input type="text" matInput [(ngModel)]="material.pricePerMeter" name="pricePerMeter" class="right-align" #pricePerMeter="ngModel" required>
                            <span matPrefix>€&nbsp;</span>
                            <mat-error>Prijs per meter is een verplicht veld</mat-error>
                        </mat-form-field>
                    </div>  
                </div>
                <div class="row mb-4">
                    <div class="col-xs-12">
                        <div class="row" *ngIf="!isNewMaterial">
                            <div class="col">
                                <button mat-raised-button color="primary" (click)="onUpdate(materialDetailsForm.value)">Bewaren</button>
                            </div>
                            <div class="col end-xs">
                                <button mat-raised-button color="warn" (click)="openDialog()">Verwijderen</button>
                            </div>
                        </div>
                        <div class="row mt-2" *ngIf="isNewMaterial">
                            <button mat-raised-button color="primary" (click)="onAdd()">Toevoegen</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-4">
            <img src="{{material.pictureUrl}}" alt="kleurfoto" style="width: 100%;">
        </div>
    </div>
</div>