/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

@import "../node_modules/font-awesome/css/font-awesome.min.css";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
@import "../node_modules/bootswatch/dist/lux/bootstrap.min.css";

@font-face {
    font-family: "hkgrotesk";
    src: local("hkgrotest"), url(./assets/fonts/hk-grotesk/HKGrotesk-Medium.otf) format("opentype");
}

@font-face {
    font-family: "kollektif";
    src: local("kollektif"), url(./assets/fonts/kollektif/Kollektif.ttf) format("truetype");
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "kollektif", sans-serif;
}

.page-header {
    background: #f1f1f1;
}

.page-header h1 {
    padding: 16px 0;
    margin: 0;
}

.table-container {
    margin: 10px 20px;
}

.ml-2 {
    margin-left: 20px !important;
}

.mt-2 {
    margin-top: 20px;
}

mat-form-field {
    width: 100%;
}

simple-snack-bar span {
    margin: auto;
    text-align: center;
}

.btn-primary {
    background-color: #efbf3b;
    border: #efbf3b;
}

.btn-primary:hover {
    background-color: #52351d;
    border: #52351d;
}

.btn-tertiary {
    background-color: #6c6c6c;
    border: #6c6c6c
}

.btn-quartiary {
    background-color: #efeded;
    border: #efeded;
}

.text-warning {
    color: #efbf3b !important;
}

.bg-quartiary {
    background-color: #efeded;
}

.mat-typography {
    font-family: "kollektif", sans-serif;
}

.mat-typography h2 {
    font-family: "hkgrotesk", sans-serif;
    font-weight: 700;
}

.mat-typography h3 {
    font-family: "kollektif", sans-serif;
}

.nav-items {
    font-family: "hkgrotesk", sans-serif;
    font-weight: 400;
}

.page-item.active .page-link {
    background-color: #efbf3b;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.xng-breadcrumb-root {
    padding: 8px 16px;
    display: inline;
    border-radius: 0;
}

.xng-breadcrumb-trail {
    margin-bottom: 0;
    color: #efbf3b !important;
}

.xng-breadcrumb-separator {
    padding: 0;
}

.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #efbf3b;
}

.dark-backdrop {
    background: rgba(198, 198, 198, 0.3);
}

.btn-outline-primary {
    color: #efbf3b;
    border-color: #efbf3b;
    &:hover {
        color: white;
        background: #52351d;
        border: #52351d;
    }
}

.btn-outline-success {
    color: #52351d;
    border-color: #52351d;
    &:hover {
        color: white;
        background: #6c6c6c;
        border: #6c6c6c;
    }
}

.form-control:focus {
    border: #efbf3b !important;
    box-shadow: 0 0 0 0.2rem rgba(239, 191, 59, 0.5);
}