<div class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-5 mb-3 border-bottom shadow-sm fixed-top">
    <img src="/assets/images/logo.png" style="max-height: 70px;" alt="logo">
    <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size: larger;">
      <a class="me-3 py-2 nav-items"  [routerLink]="['/webshop/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="me-3 py-2 nav-items" routerLink="/webshop/shop" routerLinkActive="active">Shop</a>
      <a class="me-3 py-2 nav-items" routerLink="/webshop/test-error" routerLinkActive="active">Errors</a>
    </nav>
    <div class="d-flex align-items-center">
        <div class="d-grid gap-5 d-md-flex justify-content-md-end">
            <div>
                <a class="position-relative" routerLink="/webshop/basket">
                    <i class="fa fa-shopping-cart fa-2x mr-5 text-dark"></i>
                    <div *ngIf="itemCount && itemCount > 0" class="cart-no">{{itemCount}}</div>
                </a>
            </div>
            <ng-container *ngIf="(currentUser$ | async) === null">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <div>
                        <a routerLink="/account/login" class="btn btn-outline-secondary mr-2">Login</a>
                    </div>
                    <div>
                        <a routerLink="/account/register" class="btn btn-outline-secondary mr-3">Sign up</a>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="currentUser$ | async">
                <div class="d-flex align-items-center">
                    <div class="dropdown ms-3 me-5" style="font-size: 1.2em;" dropdown>
                        <a class="dropdown-toggle" style="cursor: pointer;" dropdownToggle>
                            <strong>Welcome {{(currentUser$ | async).displayName}}</strong>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;" *dropdownMenu>
                            <a routerLink="/webshop/basket" class="dropdown-item d-flex align-items-center py-2">
                                <i class="fa fa-shopping-cart me-3"></i> View Basket
                            </a>
                            <a routerLink="/webshop/orders" class="dropdown-item d-flex align-items-center py-2">
                                <i class="fa fa-history me-3"></i> View Orders
                            </a>
                            <div class="dropdown-divider"></div>
                            <a (click)="logout()" class="dropdown-item d-flex align-items-center py-2">
                                <i class="fa fa-sign-out me-3"></i> Logout
                            </a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>