.cart-no {
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    font-size: 1em;
    line-height: 2;
    background: #efbf3b;
    color: white;
    text-align: center;
    top: -20px;
    right: -20px;
}

a {
    text-decoration: none;
    color: #6c6c6c;

    &.active {
        color: #efbf3b;
    }
}