<div class="page-header">
    <div class="container">
        <h1>Stock Materialen</h1>
    </div>
</div>
<div class="container">
    <div class="row end-xs mt-2">
        <div class="col-xs-12">
            <input type="text" class="search-input" placeholder="Zoek stock materialen"
            #input
            (keyup)="filterStockMaterials($event)"
            >
            <a routerLink="/stockmaterials/add" mat-raised-button color="primary" class="ml-2">Werk stock bij</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="mat-elevation-z8">
        <table mat-table matSort [dataSource]="dataSource" multiTemplateDataRows>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Naam </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="material">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                <td mat-cell *matCellDef="let element"> {{element.material}} </td>
            </ng-container>
            <ng-container matColumnDef="size">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Dikte </th>
                <td mat-cell *matCellDef="let element"> {{element.size}} </td>
            </ng-container>
            <ng-container matColumnDef="mainColor">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Hoofdkleur </th>
                <td mat-cell *matCellDef="let element"> {{element.mainColor}} </td>
            </ng-container>
            <ng-container matColumnDef="color">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Kleur </th>
                <td mat-cell *matCellDef="let element"> {{element.color}} </td>
            </ng-container>
            <ng-container matColumnDef="pictureUrl">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Foto </th>
                <td mat-cell *matCellDef="let element">
                    <img src="{{element.pictureUrl}}" alt="" style="height: 50px;">
                </td>
            </ng-container>
            <ng-container matColumnDef="meterInStock">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> In stock(m) </th>
                <td mat-cell *matCellDef="let element"> {{element.meterInStock}} </td>
            </ng-container>
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['/stockmaterials/', element.id]">
                        <mat-icon>edit</mat-icon>
                    </a>
                </td>
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                    <div class="example-element-detail"
                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <div class="example-element-description">
                            <img src="{{element.pictureUrl}}" alt="" style="height: 200px; margin-right: 20px;">
                        </div>
                        <div class="example-element-diagram">
                            <div class="stockmaterial-name"> {{element.name}} </div>
                            <div class="example-element-symbol"> Kleur: {{element.color}} </div>
                            <div class="example-element-symbol"> Dikte: {{element.size}}mm </div>
                            <div class="example-element-symbol"> {{element.meterInStock}} meter in stock </div>
                        </div>

                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
        </mat-paginator>
    </div>
</div>