<div class="container mt-5">
    <div class="d-flex justify-content-center text-center">
        <div class="col-4">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <img class="mb-4" src="../../../assets/images/logo.png" alt="" width="auto" height="200">

                <app-text-input formControlName="displayName" [label]="'Gebruikersnaam'"></app-text-input>
                <app-text-input formControlName="email" [label]="'Emailadres'"></app-text-input>
                <app-text-input formControlName="password" [label]="'Wachtwoord'" [type]="'password'"></app-text-input>

                <ul class="text-danger list-unstyled text-start" *ngIf="errors">
                    <li *ngFor="let error of errors">
                        {{error}}
                    </li>
                </ul>

                <button [disabled]="registerForm.invalid" class="w-100 btn btn-lg btn-primary" type="submit">Registreer</button>
                <p class="mt-5 mb-3 text-muted">© 2022</p>
            </form>
        </div>
    </div>
</div>