<div class="page-header">
    <div class="container">
        <h1>{{header}}</h1>
    </div>
</div>
<div class="container">
    <div class="row end-xs top-row">
        <div class="col-xs-12">
            <a routerLink="/producttypes" color="primary" mat-raised-button>
                <mat-icon>chevron_left</mat-icon>
                Ga terug
            </a>
        </div>
    </div>
    <div class="row" *ngIf="productType">
        <div class="col-xs-12">
            <form #productTypeDetailsForm="ngForm">
                <div class="row">
                    <div class="col-xs-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Naam</mat-label>
                            <input type="text" matInput [(ngModel)]="productType.name" name="name" #name="ngModel" required>
                            <mat-error>Naam is een verplicht veld</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-xs-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Afkorting</mat-label>
                            <input type="text" matInput [(ngModel)]="productType.abbreviation" name="abbreviation" #abbreviation="ngModel" required>
                            <mat-error>Afkorting is een verplicht veld</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-xs-12">
                        <div class="row" *ngIf="!isNewProductType">
                            <div class="col">
                                <button mat-raised-button color="primary" (click)="onUpdate(productTypeDetailsForm.value)">Bewaren</button>
                            </div>
                            <div class="col end-xs">
                                <button mat-raised-button color="warn" (click)="openDialog()">Verwijderen</button>
                            </div>
                        </div>
                        <div class="row mt-2" *ngIf="isNewProductType">
                            <button mat-raised-button color="primary" (click)="onAdd()">Toevoegen</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>