<div class="page-header">
    <div class="container">
        <h1>Product Types</h1>
    </div>
</div>
<div class="container">
    <div class="row end-xs mt-2">
        <div class="col-xs-12">
            <input type="text" class="search-input" placeholder="Zoek product types"
            #input
            (keyup)="filterProductTypes($event)"
            >
            <a routerLink="/producttypes/add" mat-raised-button color="primary" class="ml-2">Voeg product type toe</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="div mat-elevation-z8">
        <table mat-table matSort [dataSource]="dataSource">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Naam </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="abbreviation">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Afkorting </th>
                <td mat-cell *matCellDef="let element"> {{element.abbreviation}} </td>
            </ng-container>
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['/producttypes/', element.id]">
                        <mat-icon>edit</mat-icon>
                    </a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
        </mat-paginator>
    </div>
</div>